{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpayment</th>
                <td>{{ payment.idpayment }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ payment.date ? payment.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_index') }}">back to list</a>

    <a href="{{ path('payment_edit', {'idpayment': payment.idpayment}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
