{% extends 'base.html.twig' %}

{% block title %}PaymentMethod index{% endblock %}

{% block body %}
    <h1>PaymentMethod index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdpayingMethod</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_method in payment_methods %}
            <tr>
                <td>{{ payment_method.idpayingMethod }}</td>
                <td>{{ payment_method.label }}</td>
                <td>
                    <a href="{{ path('payment_method_show', {'idpayingMethod': payment_method.idpayingMethod}) }}">show</a>
                    <a href="{{ path('payment_method_edit', {'idpayingMethod': payment_method.idpayingMethod}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('payment_method_new') }}">Create new</a>
{% endblock %}
