{% extends 'base.html.twig' %}

{% block title %}PaymentCategory index{% endblock %}

{% block body %}
    <h1>PaymentCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdpaymentCategory</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_category in payment_categories %}
            <tr>
                <td>{{ payment_category.idpaymentCategory }}</td>
                <td>{{ payment_category.label }}</td>
                <td>
                    <a href="{{ path('payment_category_show', {'idpaymentCategory': payment_category.idpaymentCategory}) }}">show</a>
                    <a href="{{ path('payment_category_edit', {'idpaymentCategory': payment_category.idpaymentCategory}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('payment_category_new') }}">Create new</a>
{% endblock %}
